/*color palette
Primary : #77ff97
Secondary : #E6ECF0
P-Dark : #3ccb68
P-Light : #adffc9
Text : #000000
S-Dark : #b4babe
*/ 
/* globel styles */
body {
	background-color: #E6ECF0;
	margin: 0;
	
}
nav {
	
	max-height:46px;
}
div.container {
	
	padding: 20px;
}
div.main {
	text-align: center;
	background-color: #77ff97;
	margin: 40px;
	border: 2px groove #3ccb68;
	box-shadow: #b4babe 10px 10px;
}
div.sidebar {
	background-color: #77ff97;
	margin: 40px;
	padding: 5px;
	border: 2px groove #3ccb68;
	box-shadow: #b4babe 10px 10px;
}
.sidebartext {
	text-align: center;
	font-size: 1.1em;
}
.round {
	border-radius:50%;
}
p {
	padding:20px;
	margin:20px;
}
/*header and footer styles*/
div.nav-wrapper{
	margin-bottom:40px;
    background-color: #77ff97;
}
footer.page-footer {
	background-color: #77ff97;
}
/* btn styles*/
button.login {
	background-color: #E6ECF0;
}
button.signup {
	background-color: #E6ECF0;
}
.scroll {
  overflow: scroll;

}

