{% extends "main/base.html" %}
{% block title %}
pi
{% endblock %}
{% block header%}  
{% include "main/includes/header.html" %}
{%endblock%}
{% block body %}
<h1 class="flow-text"> list</h1>
<center>
    {% for post in object_list %}
    <time datetime="{{ post.date|date:"Y-m-dTH:i" }}">
    <h5 class="flow-text"> {{ post.date|date:"Y-m-d" }}  <a href="/blog/{{post.slug}}">  {{post.title}} </a></h5>
</time>
    {%endfor%}
</center>
{%endblock%}
{%block script%}

<script>
    
 

    

        
   
       </script>
{%endblock%}