
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text flow-text">Footer Content</h5>
				<p class="grey-text text-lighten-4 flow-text ">places to stock us .</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text flow-text">Bells</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="https://www.twitter.com/beshoyboy2">Beshoy's Twitter</a></li>
					<li><a class="grey-text text-lighten-3" href="https://twitter.com/SlimmyisTaken">Eugene's Twitter</a></li>
					<li><a class="grey-text text-lighten-3" href="#!"></a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			 2018 BeshoyFarag.inc and slimmy.tm 
			<a class="grey-text text-lighten-4 right" href="#!">sitemap</a>
		</div>
	</div>
</footer>
