{% extends "main/includes/base-header.html" %}
        {%block PC-header%} 
			<li><a href="home" class="blue-grey-text">Home</a></li>
			<li><a href="feed" class="blue-grey-text">Feed</a></li>
			<li><a href="friends" class="blue-grey-text">Friends</a></li>
			<li><a href="profile" class="blue-grey-text">Profiles</a></li>
			<li><a href="goodie" class="blue-grey-text">Goodie Bags</a></li>
            <li><a href="blog/Category/" class="blue-grey-text">blog</a></li>
        {%endblock%}

        {%block mobile-header%} 
	       <li><a href="Index">Home</a></li>
	       <li><a href="feed">Feed</a></li>
	       <li><a href="friends">Friends</a></li>
	       <li><a href="profile">Profiles</a></li>
	       <li><a href="goodie">Goodie Bags</a></li>
           <li><a href="blog/Category/">blog</a></li>
        {%endblock%}
