<nav>
	<div class="nav-wrapper">
		<a href="Index.html" class="brand-logo blue-grey-text">pi </a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="home" class="blue-grey-text">Home</a></li>
			<li><a href="feed" class="blue-grey-text">Feed</a></li>
			<li><a href="friends" class="blue-grey-text">Friends</a></li>
			<li><a href="profile" class="blue-grey-text">Profiles</a></li>
			<li><a href="goodie" class="blue-grey-text">Goodie Bags</a></li>
		</ul>
	</div>
</nav>
<ul class="sidenav" id="mobile-demo">
	<li><a href="Index.html">Home</a></li>
	<li><a href="feed.html">Feed</a></li>
	<li><a href="friends.html">Friends</a></li>
	<li><a href="profile.html">Profiles</a></li>
	<li><a href="goodie">Goodie Bags</a></li>
</ul>
<script>
 $(document).ready(function () {
			$('.sidenav').sidenav();
		});
</script>
