<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">Bell-A</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="home">home</a></li>
			<li><a href="feed">feed</a></li>
			<li><a href="friends">friends</a></li>
			<li><a href="profile">profile</a></li>
		</ul>
	</div>
</nav>
<ul class="sidenav" id="mobile-demo">
	<li><a href="Index.html">home</a></li>
	<li><a href="feed.html">feed</a></li>
	<li><a href="friends.html">friends</a></li>
	<li><a href="profile.html">profile</a></li>
</ul>
<script>
 $(document).ready(function () {
			$('.sidenav').sidenav();
		});
</script>