{% extends "main/base.html" %}
{% block title %}
pi
{% endblock %}
{% block body %}
<h1 class="flow-text"> your  pi  feed  </h1>
<div class="col s12 m7">
	<div class="card horizontal">
		<div class="card-image">
			<img src="http://lorempixel.com/400/400/sports/Dummy-pic" class="round">
		</div>
		<div class="card-stacked">
			<div class="card-content">
				<p class="flow-text">
					this is where the users post will go #coolm8
				</p>
			</div>
			<div class="card-action">
				<a href="#">This is a link to there profile</a>
			</div>
		</div>
	</div>
</div>



{% endblock %}
{% block sidebar %}

{% endblock %}