{% extends "main/base.html" %}
{% block title %}
Bell-A
{% endblock %}
{% block body %}
<h2 class="flow-text">Please login</h2>

<form class="form-signin" method="post">

	{% csrf_token %}
	{{ form.as_p }}







	<button class="btn waves-effect waves-light dark" type="submit" name="action">
		login

		<i class="material-icons right">send</i>



	</button>
	<a href="/signup" class="btn waves-effect waves-light dark">
		
			signUp


			<i class="material-icons right">send</i>



		
	</a>


</form>
{% endblock %}



