{% extends "main/base.html" %}
{% block title %}
Bell-A
{% endblock %}
{% block body %}
<h1 class="flow-text"> your  Bell-A  profile   </h1>
<p class="flow-text">
	feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed
</p>
<p class="flow-text">
	feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed
</p>
<p class="flow-text">
	feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feedfeed feed feed feed feed feed feed feed feed feed feed feed feed feed feed feed
</p>
{% endblock %}
{% block sidebar %}

{% endblock %}